Source: freshtracker
Section: utils
Priority: optional
Maintainer: Karel Wintersky <karel.wintersky@yandex.ru>
Build-Depends: debhelper (>= 10)

Package: freshtracker
Architecture: all
Depends: php8.0, apache2 | nginx | lighttpd
Description: Fresh Food Tracker
